<!-- <app-employee></app-employee>
<app-module></app-module> -->

<!-- 
 Decimal printing format  

{{ num | number:'1.0-0'}}
<br>

 Date printing format  
{{today| date:'dd:MM:YYYY'}}
<br>

{{today | date:'medium'}}
<br>

{{today | date:'long'}}
<br>

{{today | date:'short'}}
<br>

{{today | date:'fullTime'}}
<br>

  Currnecy printing format  
{{num | currency:'CAD'}}   
<br>

  Object printing  
{{emp | json}}
<br>


   Arraay slicing for printing format  
{{myarr}}

<p *ngFor="let i of myarr | slice:0:3">
    {{i}}
</p>

<br>


 -->

 <!-- <app-pipedemos></app-pipedemos> -->

 <app-module></app-module>






